<!DOCTYPE html>
<html>
<%- include('./partials/_head'); %>

    <body>
        <%- include('./partials/_navbar'); %>
            <h2 id="name"></h2>
            <p id="price"></p>
            <p id="os"></p>
            <p id="availability"></p>

            <script src="scripts/details.js"></script>
    </body>

</html>