<!DOCTYPE html>
<html>
<%- include('./partials/_head'); %>

  <body>
    <%- include('./partials/_navbar'); %>
      <main class="main d-flex justify-content-start align-items-center row">
        <img src="./img/bg.jpg" alt="backgroung image Vodafone">
      </main>

  </body>

</html>