<!DOCTYPE html>

<%- include('./partials/_head'); %>
    <link href="./stylesheets/styleLogin.css" rel="stylesheet" />
    <html lang="en">
    <%- include('./partials/_navbar'); %>

        <body>
            <main>
                <form id='form' action="/auth/login" method="POST">
                    <div class="aa mb-2 d-flex align-content-center justify-content-evenly">
                        <i class="fas fa-user fa-2x"></i>
                        <input type="email" class="form-control " id="username" aria-describedby="emailHelp"
                            placeholder="email" name="email" />
                    </div>
                    <div class="mb-2 d-flex align-content-center">
                        <i class="fas fa-lock fa-2x"></i>
                        <input type="password" class="form-control" id="password" placeholder="password"
                            name="password" />
                    </div>
                    <button type="submit" class="btn btn-primary main__btn">Login</button>
                    <p>You don't have an account? <a href="/register">Register</a></p>
                    <div class="register"></div>
                    <div id='invalid' style="display: none">Invalid email or password</div>

                    <div id="toast-login">
                        <span>Login successful!</span>
                        <button id='redirect-to-login'>OK</button>
                    </div>

                </form>

            </main>
        </body>


    </html>