body {
  box-sizing: border-box;
  position: relative;
}

:root {
  --teal-color: #75d8a6;
  --blue-color: #3496f0;
  --gray-color: #7c7c7c;
}

aside {
  background-color: #75d8a6;
}

.nav-link {
  color: black;
}
.nav-link:hover {
  color: black;
}

.main {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container {
  width: 30%;
}

.main__title {
  font-size: 20px;
  font-weight: 700;
  color: var(--gray-color);
  font-family: "Open Sans";
}

.main__btn {
  width: 100%;
  background-color: red;
  height: 40px;
  color: white;
  font-family: "Open Sans";
  border: none;
  border-radius: 5px;
  margin-top: 15px;
}

p a {
  text-decoration: none;
  color: red;
}
p a:hover {
  color: red;
}
.register {
  display: flex;
  justify-content: right;
}
.main__btn:hover {
  transform: scale(1.1);
}
li {
  list-style: none;
}

.errors {
  display: none;
}

.toast-registration {
  top: 50vh;
  text-align: center;
  position: absolute;
  font-weight: 700;
  color: #75d8a6;
  width: 30vw;
  z-index: 1;
  height: 10vh;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

#redirect-to-login {
  border-radius: 5px;
  width: 100px;
  height: 30px;
  border: 1px solid #ddd;
  background-color: white;
  color: #75d8a6;
  font-weight: 700;
  animation: scale 2s ease-in-out infinite;
}
#redirect-to-login:hover {
  transform: scale(1.05);
}
@keyframes scale {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@media (max-width: 990px) {
  .aside {
    display: none;
  }
  .main {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .aside {
    display: none;
  }
  .main__container {
    width: 100%;
    margin: 1px;
  }
  .register {
    justify-content: center;
  }
  p {
    margin: 5px;
  }
  .main__title {
    text-align: center;
  }
}
