body {
  box-sizing: border-box;
}

:root {
  --teal-color: #75d8a6;
  --blue-color: #3496f0;
  --gray-color: #7c7c7c;
}

aside {
  background-color: #75d8a6;
}

.nav-link {
  color: black;
}
.nav-link:hover {
  color: black;
}

.main {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container {
  width: 30%;
}

.main__title {
  font-size: 20px;
  font-weight: 700;
  color: var(--gray-color);
  font-family: "Open Sans";
}

.main__btn {
  width: 100%;
  background-color: red;
  height: 40px;
  color: white;
  font-family: "Open Sans";
  border: none;
  border-radius: 5px;
  margin-top: 15px;
}

p a {
  text-decoration: none;
  color: red;
}
p a:hover {
  color: red;
}
.register {
  display: flex;
  justify-content: right;
}
.main__btn:hover {
  transform: scale(1.1);
}

@media (max-width: 990px) {
  .aside {
    display: none;
  }
  .main {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .aside {
    display: none;
  }
  .main__container {
    width: 100%;
    margin: 1px;
  }
  .register {
    justify-content: center;
  }
  p {
    margin: 5px;
  }
  .main__title {
    text-align: center;
  }
}
